.container {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.container > button {
    background-color: aqua;
    transition: 0.3s;
}

.container > button:hover {
    font-size: 20px;
}